html {
  background-color: #f4fcff;
}
:root {
  --primaryColor: #4fc3a1;
}

body {
  font-family: Helvetica;
  background: #d7f8f6;
  height: 100%;
  text-align: center;
}
.table-section {
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.table {
  width: 100%;
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
.search-bar {
  width: 35%;
  position: absolute;
  left: 40%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.form {
  margin-bottom: 10px;
  display: inline-block;
}

button {
  height: 30px;
  width: 30px;
  font-size: 12px;
  position: relative;

  border: 2px solid var(--primaryColor);
  color: rgb(10, 9, 9);
  padding: 10px;
  display: inline-flex;
  border-radius: 100%;
  margin: 14px;
  align-items: center;
  justify-content: center;
}

button:hover,
button:active {
  background-color: #a5ecd7;
  color: #324960;
}

.Name {
  height: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 270px;
}

.header {
  background-color: #324960;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  border: 5px solid rgb(255, 255, 255);
}
.data {
  margin-left: 10%;
  min-height: 60vh;
  overflow-y: auto;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 80%;
  white-space: nowrap;
  background-color: white;
  table-layout: fixed;
}
.data th,
.data td {
  overflow-x: auto;
  text-align: left;
  padding: 8px;
  font-size: 15px;
}

.data td {
  border-right: 1px solid #f8f8f8;
}
.data thead th {
  color: #ffffff;
  background: #4fc3a1;
}

.data thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.data tr:nth-child(even) {
  background: #f8f8f8;
}

.active {
  background: var(--primaryColor);
  color: #ffffff;
}
.hidden {
  display: none;
}
.container {
  background: #dde1e7;
  padding: 25px;
  border-radius: 3px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.pagination {
  list-style: none;
  text-align: center;
  display: flex;
}

.pagination first-child {
  width: 120px;
}
.pagination button:last-child {
  width: 100px;
}
.pagination button.active {
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.pagination button:first-child {
  margin: 0 15px 0 0;
}
.pagination button:last-child {
  margin: 0 0 0 15px;
}

.iconify-sort {
  margin-left: 4%;
}
.spinner {
  text-align: center;
  position: center;
  font-size: 60px;
}
.highlighted {
  border: 5px solid rgb(17, 112, 17);
}
.refresh {
  position: absolute;
  margin-left: 20px;
  font-size: 25px;
}
input:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}
.mov {
  height: 40px;
  width: 40px;
  background-color: #368d73;
}
